@charset "utf-8";

.Cabeza{
	margin: 8% 40%;
	width: 50%;
	text-align: center;
	height: 250px;
	border-radius: 15%;
	background: #126FDD;

}

.Cabeza h1{
	padding-top: 5%;
	text-align: center;
	height: 30%;
	
}

.Acceso{
	background: #fff;
	position: relative;
	display: flex;
	align-items: center;
	height: 70%;
	border-radius: 0 0 15% 15%;


	
}


.inputs input{
	float: left;
	margin: 3% 1%;
	height: 15px;
	
}
.labes{
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: right;
	font-size:15px;
	font-family:"Times New Roman", Arial, sans-serif;

}
.labels{
	margin: 4% 1%;
}