@charset "utf-8";

.Cabeza{
	margin: 8% 40%;
	width: 50%;
	text-align: center;
	height: 250px;
	background: #fff;
	border-radius: 15%;
	background: #126FDD;

}

.Cabeza h1{
	padding: 15px 0 00px 0;
	margin: 0 0 35px 0;
	
}

.Acceso{
	background: #fff;
	position: relative;
	display: flex;
	align-items: center;


	
}


.inputs input{
	margin: 1%;
	height: 15px;
}
.labes{
	margin: 0 auto;
	text-align: right;
	font-size:15px;
	font-family:"Times New Roman", Arial, sans-serif;

}
.labels{

	
	
}