@charset "utf-8";

.Acceso{
	margin: 8% 40%;
	height: 250px;
	width: 50%;
	background: #fff;
	display: flex;
	align-items: center;
	border-radius: 15%;

	
}


.inputs input{
	margin: 1%;
	height: 15px;
}
.labes{
	margin: 0 auto;
	text-align: right;
	font-size:15px;
	font-family:"Times New Roman", Arial, sans-serif;

}
.labels{

	
	
}