.mainCarteles{
	display: flex;

}

.Cuestionario {
	display: block;
	padding: 2% 2% 2% 2%;
	background-color: #5A81C5;
	margin:0% 5% 0 0;
}
.Cuestionario p{
	margin: 5%;
}
.Cuestionario button{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px*/
}
.Cuestionario button:hover{
	background-color:#4F4545;
    border: none;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	
}
.CuestionarioRespuesta{
	margin:7% 0 7% 0;

}
.InfoCartel{
	text-align: justify;
	margin: 2% 2% 2% 2%;
	padding: 2% 2% 2% 2%;
	width: 70%;
	
}

.InfoCartel h1{
	text-align: center;
	margin: 0 0 1% 0;
}

.InfoCartel p{
	margin: 0 0 2% 0;
}

.InfoCartel h2{
	margin: 0 0 3% 0%;
	text-align: center;
}
.InfoCartel h3{
	margin: 0 0 0 4%;
}
.radio{
	margin:10%;
}
.reto{
	margin:5%;
	padding:3%;
	background-color: #D09850
}