@charset "utf-8";

.global{
	display: block;
	padding: 0 0% 0 1.5% 
}

.filtros{
	width: 100%;
	margin: 2% 0 2% 0;
	padding: 0 0.5%;
	align-items: center;
	vertical-align: middle;
	display: flex;

}
.filtros select{
	margin: 0 1% 0 0.3%;
	text-align: center;
}
.filtros b{
	text-align: center;
}

#AnoEntrega{
	width: 40px;
	text-align: center;
	margin: 0 1% 0 0.3%;
}

.listaGrupos{
	width: 98%;
	margin: 0% 1% 0 ;
	display: block;
}

.listaGrupos td{
	text-align: center;
	
}