
.Entregas{
	height: auto;
	width: 100%;
	display: flex;
	padding: 2%;
}


.InfoTrabajo{
	text-align: justify;
	width: 78%;
	padding: 1%;
	margin: 0 1%;
	
}

.InfoTrabajo h1{
	text-align: center;
	margin: 0 0 1% 0;
}

.InfoTrabajo p{
	margin: 0 0 2% 0;
}

.InfoTrabajo h2{
	margin: 0 0 0 4%;
}

#reto{
	background: #FBA24B;
	width: 90%;
	margin: 5% 2%;
	padding: 2%;
	
}

#reto h2{
	text-align: center;
}

#pregunta{
	background: #7C008C;
	padding: 2%;
	min-width: 50%;
	 text-align: center;
}

.divPregunta{
	margin: 5% 2%;
	width: 90%;
	display: flex;
	justify-content: center;
}

#pregunta ol{
    list-style-type: lower-alpha;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
	text-align: justify;
}



.recuadroGrupo{
	padding: 10% 2% 0 auto;
	margin:auto 0;
	width: 19%;
	position: relative;
	height: 100%;
}

.recuadroGrupo aside{
	background: #7D7D7D;
	padding: 5%;
	margin: 0 15% 0 0;
}



